body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    margin:0;
}

.bgimg{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('img/header-career-background.jpg');
    min-height: 100%;
}

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
footer,menu,section{display:block}
a{background-color:transparent;}
a:active,a:hover{outline-width:0}
.dn-image{max-width:100%;height:auto}
.dn-button{background-color:#ccc;color:#000}
.dn-bar .dn-button{white-space:normal}
.dn-button:hover{color:#000!important;background-color:#ccc!important}
.dn-btn,.dn-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.dn-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.dn-ul{list-style-type:none;padding:0;margin:0}.dn-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.dn-ul li:last-child{border-bottom:none}
.dn-display-container{position:relative}
.dn-bar{width:100%;overflow:hidden}.dn-center .dn-bar{display:inline-block;width:auto}
.dn-bar .dn-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;}
.dn-bar-block .dn-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;float:none;}
.dn-bar-block.dn-center .dn-bar-item{text-align:center}
.dn-container{padding:0.01em 16px}
.dn-container:after,.dn-container:before{content:"";display:block;clear:both}
.dn-bar:before,.dn-bar:after{content:"";display:block;clear:both}
.dn-col,.dn-team{float:left;width:100%}
.dn-content{max-width:980px;margin:auto}
.dn-hide{display:none!important}
.dn-show{display:block!important}
.dn-wide {letter-spacing: 10px;}
.dn-hover-opacity {cursor: pointer;}
.dn-top,.dn-bottom{position:fixed;width:100%;z-index:1}.dn-top{top:0}.dn-bottom{bottom:0}
.dn-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.dn-display-container:hover .dn-display-hover{display:block}.dn-display-container:hover span.dn-display-hover{display:inline-block}.dn-display-hover{display:none}
.dn-round{border-radius:4px}
.dn-row:after,.dn-row:before{content:"";display:block;clear:both}
.dn-row-padding:after,.dn-row-padding:before{content:"";display:block;clear:both}
.dn-row-padding,.dn-row-padding>.dn-row-padding>.dn-team,.dn-row-padding>.dn-row-padding>.dn-threequarter,.dn-row-padding>.dn-quarter,.dn-row-padding>.dn-col{padding:0 8px}
.dn-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.dn-opacity,.dn-hover-opacity:hover{opacity:0.60}.dn-opacity-off,.dn-hover-opacity-off:hover{opacity:1}
.dn-opacity-max{opacity:0.25}
.dn-xlarge{font-size:24px!important}.dn-xxlarge{font-size:36px!important}
.dn-center{text-align:center!important}
.dn-padding-jobs{padding-top:64px!important;padding-bottom:64px!important}
.dn-section{margin-top:16px!important;margin-bottom:16px!important}
.dn-margin-top{margin-top:16px!important}.dn-margin-bottom{margin-bottom:16px!important}
.dn-margin-right{margin-right:16px!important}
.dn-padding-small{padding:4px 8px!important}.dn-padding{padding:8px 16px!important}.dn-padding-large{padding:12px 24px!important}
.dn-padding-ben{padding-top:16px!important;padding-bottom:16px!important}
.dn-left{float:left!important}.dn-right{float:right!important}
.dn-padding-footer{padding-top:64px!important;padding-bottom:64px!important}
.jobs {float: left;width: 33.33%;padding: 15px;}
.row:after {content: "";display: table;clear: both;}
.dn-white,.dn-hover-white:hover{color:#000!important;background-color:#fff!important}
.dn-black,.dn-hover-black:hover{color:#fff!important;background-color:#000!important}
.dn-grey,.dn-hover-grey:hover,.dn-gray,.dn-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}

/* Media Query */
@media screen and (max-width:600px) {.jobs {width: 100%;}}
@media (max-width:600px){.dn-hide-small{display:none!important}}
@media (min-width:601px){.dn-team{width:24.99999%}.dn-col.md-6{width:49.99999%}}
@media (min-width:993px){.dn-hide-large{display:none!important}}
@media (max-width:992px) and (min-width:601px){.dn-hide-medium{display:none!important}}
@media only screen and (max-device-width: 1600px) {.bgimg{background-attachment: scroll;min-height: 400px;}}


